.nav-bar{
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    display: inline-block;
    padding: 15px;
}
li button{
    background-color: rgb(241, 94, 26);
    border-radius: 3px;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
}
.column1{
    float: Left;
    width: 33.33%;
    margin-bottom: 80px;
}
.column2{
    width: 33.33%;
    float: left;
    margin-bottom: 80px;
}
.column4{
    float: left;
    margin-left: 200px;
    width: 40%;
}
.buy{
    border-color: rgb(187, 98, 39);
    padding:6px 20px;
    border-radius: 5px;
}
.Rent{
    color:orangered;
    background-color: white;
    padding: 5px 15px;
    border: 1px solid orangered;
}
.mercedes{
    width: 20%;
    height: 20%;
    margin-right: 500px;
    margin-bottom: 300px;
}
.row{
    margin-left: 200px;
    margin-top: -300px;
}